body {margin:0;padding:0;background:#CF6;border-top:5px solid #000;font-family:Helvetica,Arial,sans-serif;font-size:16px;}

.wrapper {width:1000px;height:100%;margin:0 auto;}

#foot,
#head {width:100%;height:20%;background:transparent;}
#ribbon {width:100%;height:60%;background:#EEE;}
#ribbon .wrapper {border-top:1px solid #999;border-bottom:1px solid #999;}
#ribbon .wrapper .title {float:right;width:300px;height:80px;position:relative;top:-80px;font-family:CabinRegular,sans-serif;color:#333;}
#ribbon .wrapper .title .brand {font-family:CabinMediumItalic,sans-serif;font-size:36px;color:#000;}


