body {margin:0;padding:0;background:#CF6;border-top:5px solid #000;font-family:Helvetica,Arial,sans-serif;font-size:14px;}
img {border:none;}
label {color:#666;}
label:hover {color:#333;}
a:link,
a:visited {color:#460;text-decoration:none;}

.leaflet-container .leaflet-control-attribution {color:white;background:none !important;box-shadow:none !important;}
.leaflet-container .leaflet-control-attribution a:link,
.leaflet-container .leaflet-control-attribution a:visited {color:#8C0;}

.attribute {width:290px;float:right;padding:10px 0;text-align:left;font-size:10px;line-height:16px;}
.menu {float:left;margin:0;padding:0;list-style:none;}
.menu a {display:inline-block;margin:0;padding:5px 0 10px;margin:0 25px 0 0;border-top:5px solid transparent;}
.menu a:hover,
.menu a:active {border-top:5px solid #999;color:#000;text-decoration:none;}
.text {color:#333;}
.wrapper {width:1000px;height:100%;margin:0 auto;}

#canvas {width:698px;height:100%;background:#AAA;border-left:1px solid #999;border-right:1px solid #999;}
#canvas,
#controls {float:left;}
#controls {width:290px;height:100%;padding:0 0 0 10px;text-align:justify;background:transparent;position:relative;top:-80px;}
#controls .text {margin:90px 0 0;}
#controls a:hover,
#controls a:active {text-decoration:underline;}
#forkme {width:141px;height:141px;z-index:9999;position:absolute;left:0;top:4px;background:transparent url(https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png) no-repeat left top;}
#form {margin:10px 0 0;font-size:14px;color:#666;font-family:CabinItalic,sans-serif;}
#form #wkt {width:100%;height:150px;border:1px solid #999;padding:3px;resize:none;}
#form #urlify {vertical-align:baseline;margin:10px 5px 0 0;}
#form #reset {margin:10px 10px 0 0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc')";
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    }
#form #reset,
#form #submit {float:right;height:30px;margin-top:10px;padding:0 5px 2px 5px;font-family:CabinItalic,sans-serif;font-size:16px;color:#666;
    border: 1px solid #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }
#form #submit {background-color: #EF9;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#eeffcc', endColorstr = '#ddff99');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#eeffcc', endColorstr = '#ddff99')";
    background-image: -moz-linear-gradient(top, #eeffcc, #ddff99);
    background-image: -ms-linear-gradient(top, #eeffcc, #ddff99);
    background-image: -o-linear-gradient(top, #eeffcc, #ddff99);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#eeffcc), to(#ddff99));
    background-image: -webkit-linear-gradient(top, #eeffcc, #ddff99);
    background-image: linear-gradient(top, #eeffcc, #ddff99);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    }
#form #reset:hover,
#form #submit:hover {color:#333;border-color:#666;text-shadow:1px 1px 0px #FFF;
    -moz-box-shadow: 0px 0px 2px #999999;
    -webkit-box-shadow: 0px 0px 2px #999999;
    box-shadow: 0px 0px 2px #999999;
    }
#form #reset:active,
#form #submit:active {
    -moz-box-shadow:inset 0px 0px 2px #999999;
    -webkit-box-shadow:inset 0px 0px 2px #999999;
    box-shadow:inset 0px 0px 2px #999999;
    }
#foot {background:transparent url(white_spacer.gif) repeat-x top left;}
#foot,
#head {width:100%;height:20%;color:#333;}
#head {background:transparent url(white_spacer.gif) repeat-x bottom left;}
#nav {width:698px;text-align:left;}
#ribbon {width:100%;height:60%;background:#EEE;}
#ribbon .wrapper {}
#ribbon .wrapper .title {float:right;width:300px;height:80px;font-family:CabinRegular,sans-serif;font-size:16px;color:#333;}
#ribbon .wrapper .title .brand {font-family:CabinMediumItalic,sans-serif;font-size:36px;color:#000;text-shadow:1px 1px 1px #FFF;}

